* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: $myMargin;
	padding: $myPadding;
	font-family: $myFont;
	font-size: 16px;
	line-height: 1.5;
}

p {
	color: $bodyColor;
}

a {
   color: $blueColor;
}

img {
	max-width: 100%;
}
.page-title {
  text-align: center;
}
